html,body{
margin:0px;
height:100%;
}

ul{
  list-style: none;
}
li{
  display: inline-block;
}

.header{
  background: url(img/fondoSeccion1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header .texto-header{
  font-family: 'Oleo Script', cursive;
  font-size: 72px;
  text-align: center;
  color: white;
  text-shadow: 0px 3px 0px #aaa;
  margin: 0;
  padding-top: 20%;
}

.header .texto-header .texto-nombre{
  font-family: 'Lobster', cursive;
  font-size: 93px;
}

.header .texto-header .texto-amarillo{
  color: #F7EC13;
  font-size: 72px;
}

/*Section 2*/

.section-2{
  background: url(img/fondoSeccion2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0;
  padding: 0;
  border-top: 21px solid white;

}

.section-2 .section-2-contenido{
  margin: 0 auto;
  width: 50%;
  padding-top: 7%;
  padding-bottom: 50px;
}

.section-2 .section-2-contenido h2{
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 50px;
  text-align: center;
  font-weight: 100;
  padding-bottom: 25px;
}

.section-2 .section-2-contenido ul{
  text-align: center;
  color: white;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22.38px;
  padding: 0;
}

.section-2 .section-2-contenido ul li{
  color: white;
  display: inline-block;
  margin: 15px;
}


.section-2 .section-2-contenido ul li img{
  width: 66%;
  padding: 0;
}

.section-3{
  background: url(img/seccion-2-1280x800.png);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0;
  padding: 0;
  border-top: 21px solid white;
}

.section-3 .agaves .logo-agaves{
  position: absolute;
  top: 3%;
}

.section-3 .agaves .titulo-agaves{
  font-size: 28px;
  position: absolute;
  bottom: 10%;
  left: 7%;
  color: white;
  width: 200px;
  text-shadow: 1px 2px 0px #000;

}

.section-3 .agaves .texto-ubicacion-agaves{
  display: inline-block;
  font-size: 28px;
  position: absolute;
  top: 20%;
  left: 7%;
  color: white;
  width: 320px;
}

.section-3 .agaves .texto-ubicacion-agaves h3{
    margin-bottom: 5px;
}

.section-3 .agaves .texto-ubicacion-agaves p{
  font-size: 18px;
  margin-top: 5px;
}

.section-3 .jardines .logo-jardines{
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.section-3 .jardines .titulo-jardines{
  font-size: 28px;
  position: absolute;
  top: 10%;
  right: 7%;
  color: white;
  width: 210px;
  text-shadow: 1px 2px 0px #000;

}

.section-3 .jardines .texto-ubicacion-jardines{
  display: inline-block;
  font-size: 28px;
  position: absolute;
  bottom: 20%;
  right: 7%;
  color: white;
  width: 320px;
  text-align: right;
}

.section-3 .jardines .texto-ubicacion-jardines h3{
    margin-bottom: 5px;
}

.section-3 .jardines .texto-ubicacion-jardines p{
  font-size: 18px;
  margin-top: 5px;
}

.section-4{
  background: url(img/seccionFormulario.png);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0;
  padding: 0;
  border-top: 21px solid white;
}

.section-4 .contenedor-centrado{
  margin: 0 auto;
  width: 50%;
  color: white;
  text-align: center;
}

.section-4 .contenedor-centrado .texto{
  font-size: 28px;
  margin: 0;
}

.section-4 .contenedor-centrado .precio{
  font-size: 60px;
  color: #F7EC13;
  font-weight: 600;
  margin: 0;
}

.section-4 .contenedor-centrado .texto-enlaces{
  font-size: 22px;

}

.section-4 .contenedor-centrado .botones-enlaces {
  padding: 0;
}

.section-4 .contenedor-centrado .botones-enlaces li{
  display: inline-block;
}

.section-4 .contenedor-centrado .botones-enlaces li:first-child {
  margin-right: 30px;
}

.section-4 .contenedor-centrado .botones-enlaces li a{

  text-decoration: none;
  background: #00468C;
  color: white;
  padding: 2px 18px;
  border-radius: 5px;
}

.section-4 .logos-externos{
  font-size: 60px;
  position: absolute;
  bottom: 3%;
}

.section-4 .logos-externos ul{
  margin: 0;
}

.section-4 .logos-creditos{
  max-width: 50%;
  position: absolute;
  bottom: 0%;
  right: .05%;
}

.section-4 .logos-creditos ul{
  margin: 0;
}

.section-4 .logos-creditos ul li img{
  width: 55px;
}
