html,body{
margin:0px;
height:100%;
}

ul{
  list-style: none;
}
li{
  display: inline-block;
}

.header{
  background: url(img/fondoSeccion1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header .texto-header{
  font-family: 'Oleo Script', cursive;
  font-size: 72px;
  text-align: center;
  color: white;
  text-shadow: 0px 3px 0px #aaa;
  margin: 0;
  padding-top: 20%;
}

.header .texto-header .texto-nombre{
  font-family: 'Lobster', cursive;
  font-size: 93px;
}

.header .texto-header .texto-amarillo{
  color: #F7EC13;
  font-size: 72px;
}

/*Section 2*/

.section-2{
  background: url(img/fondoSeccion2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0;
  padding: 0;
  border-top: 21px solid white;

}

.section-2 .section-2-contenido{
  margin: 0 auto;
  width: 50%;
  padding-top: 7%;
  padding-bottom: 50px;
}

.section-2 .section-2-contenido h2{
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 50px;
  text-align: center;
  font-weight: 100;
  padding-bottom: 18px;
}

.section-2 .section-2-contenido ul{
  text-align: center;
  color: white;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22.38px;
  padding: 0;
}

.section-2 .section-2-contenido ul li{
  color: white;
  display: inline-block;
  margin: 15px;
}


.section-2 .section-2-contenido ul li img{
  width: 66%;
  padding: 0;
}

.section-3-resposive-agaves{
  display: none;
}

.section-3-resposive-jardines{
  display: none;
}

.section-3{
  background: url(img/seccion-2-1280x800.png);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0;
  padding: 0;
  border-top: 21px solid white;
}

.section-3 .agaves .logo-agaves{
  position: absolute;
  top: 3%;
}

.section-3 .agaves .titulo-agaves{
  font-size: 28px;
  position: absolute;
  bottom: 10%;
  left: 7%;
  color: white;
  width: 500px;
  text-shadow: 1px 2px 0px #000;

}

.section-3 .agaves .texto-ubicacion-agaves{
  display: inline-block;
  font-size: 28px;
  position: absolute;
  top: 20%;
  left: 7%;
  color: white;
  width: 320px;
}

.section-3 .agaves .texto-ubicacion-agaves h3{
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 31px;
}

.section-3 .agaves .texto-ubicacion-agaves .domicilio-agaves{
  font-size: 17px;
  margin-top: 10px;
}

.section-3 .agaves .texto-ubicacion-agaves .descripcion-agaves{
  font-size: 18px;
  margin-top: 100px;
}

.section-3 .jardines .logo-jardines{
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.section-3 .jardines .titulo-jardines{
  font-size: 28px;
  position: absolute;
  top: 10%;
  right: 7%;
  color: white;
  width: 240px;
  text-shadow: 1px 2px 0px #000;

}

.section-3 .jardines .texto-ubicacion-jardines{
  display: inline-block;
  font-size: 28px;
  position: absolute;
  bottom: 20%;
  right: 7%;
  color: white;
  width: 320px;
  text-align: right;
}

.section-3 .jardines .texto-ubicacion-jardines h3{
    margin-bottom: 5px;
}

.section-3 .jardines .texto-ubicacion-jardines p{
  font-size: 18px;
  margin-top: 5px;
}

.section-4{
  background: url(img/seccionFormulario.png);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0;
  padding: 0;
  border-top: 21px solid white;
}

.section-4 .contenedor-centrado{
  margin: 0 auto;
  width: 50%;
  color: white;
  text-align: center;
  padding-top: 5%;
}

.section-4 .contenedor-centrado .texto{
  font-size: 28px;
  margin: 0;
}

.section-4 .contenedor-centrado .precio{
  font-size: 60px;
  color: #F7EC13;
  font-weight: 600;
  margin: 0;
  margin-top: 3%;
  margin-bottom: 3%;
}

.section-4 .contenedor-centrado .texto-enlaces{
  font-size: 17px;
  font-style: italic;
  /*margin-top: 50px;*/

}

.section-4 .contenedor-centrado .botones-enlaces {
  padding: 0;
}

.section-4 .contenedor-centrado .botones-enlaces li{
  display: inline-block;
}

.section-4 .contenedor-centrado .botones-enlaces li:first-child {
  margin-right: 30px;
}

.section-4 .contenedor-centrado .botones-enlaces li a{

  text-decoration: none;
  background: #00468C;
  color: white;
  padding: 2px 18px;
  border-radius: 5px;
}

.section-4 .logos-externos{
  font-size: 60px;
  position: absolute;
  bottom: 3%;
}

.section-4 .logos-externos ul{
  margin: 0;
}

.section-4 .logos-creditos{
  max-width: 50%;
  position: absolute;
  bottom: 0%;
  right: .05%;
}

.section-4 .logos-creditos ul{
  margin: 0;
}

.section-4 .logos-creditos ul li img{
  width: 55px;
}

.mc-field-group{
  /*display: inline-block;*/
}

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group input{
  width: 200px;
  background:rgba(199,207,187,0.3);
  border: 4px solid #C8B8CC;
  border-radius: 15px;
  padding: 5px;
  color: white;
  margin: 7px;
}

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonefield {
  display: inline-block;
}

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonearea input{
  width: 30px;
}


#mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonedetail1 input{
  width: 30px;
}

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonedetail2 input{
  width: 55px;
}

#mc_embed_signup #mc_embed_signup_scroll .clear #mc-embedded-subscribe{
  width: 100px;
  background:rgba(255,0,0,0.3);
  border: 1px solid #C8B8CC;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

::placeholder {
   color: white;
   text-align: center;
 }

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group select{
  width: 120px;
  background:rgba(199,207,187,0.3);
  border: 4px solid #C8B8CC;
  border-radius: 15px;
  padding: 5px;
  color: white;
  margin: 7px;
  cursor: pointer;
}




@media only screen and (max-width: 768px){
  .header{
    background: url(img/fondoSeccion1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .header .texto-header{
    font-size: 57px;
    margin-left: 10px;
    margin-right: 35px;
    padding-top: 50%;
  }
  .header .texto-header .texto-nombre{
    font-size: 73px;
  }
  .header .texto-header .texto-amarillo{
    color: #F7EC13;
    font-size: 62px;
  }

  .section-3{
    display: none;
  }

  .section-3-resposive-agaves{
    display: block;
    background: url(img/seccionAgaves.png);
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    margin: 0;
    padding: 0;
    border-top: 21px solid white;
  }

  .section-3-resposive-agaves .agaves .logo-agaves{
    position: absolute;
    bottom: 15%;
    right: 5%;
  }

  .section-3-resposive-agaves .agaves .titulo-agaves{
    font-size: 44px;
    color: white;
    text-shadow: 1px 2px 0px #000;
    text-align: center;
    margin: 70px;;

  }

  .section-3-resposive-agaves .agaves .texto-ubicacion-agaves{
    display: inline-block;
    font-size: 28px;
    position: absolute;
    top: 40%;
    left: 7%;
    color: white;
    width: 320px;
  }

  .section-3-resposive-agaves .agaves .texto-ubicacion-agaves h3{
      margin-bottom: 5px;
  }

  .section-3resposive-agaves .agaves .texto-ubicacion-agaves p{
    font-size: 18px;
    margin-top: 5px;
  }


  .section-3-resposive-jardines{
    display: block;
    background: url(img/seccionResidenciales.png);
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    margin: 0;
    padding: 0;
    border-top: 21px solid white;
  }

  .section-3-resposive-jardines .jardines .logo-jardines{
    position: absolute;
    bottom: 15%;
    right: 5%;
  }

  .section-3-resposive-jardines .jardines .titulo-jardines{
    font-size: 44px;
    color: white;
    text-shadow: 1px 2px 0px #000;
    text-align: center;
    margin: 70px;;

  }

  .section-3-resposive-jardines .jardines .texto-ubicacion-jardines{
    display: inline-block;
    font-size: 28px;
    position: absolute;
    top: 40%;
    left: 7%;
    color: white;
    width: 320px;
  }

  .section-3-resposive-jardines .jardines .texto-ubicacion-jardines h3{
      margin-bottom: 5px;
  }

  .section-3resposive-jardines .jardines .texto-ubicacion-jardines p{
    font-size: 18px;
    margin-top: 5px;
  }

  .section-4 .contenedor-centrado{
    padding-top: 20%;
  }
}

@media only screen and (max-width: 500px){

  .header .texto-header{
    font-size: 47px;
    margin-left: 10px;
    margin-right: 35px;
    padding-top: 50%;
  }
  .header .texto-header .texto-nombre{
    font-size: 63px;
  }
  .header .texto-header .texto-amarillo{
    color: #F7EC13;
    font-size: 52px;
  }

  .section-2 .section-2-contenido{
    margin: 0 auto;
    width: 90%;
    padding-top: 7%;
    padding-bottom: 50px;
    margin-left: 0;
  }

  .section-2 .section-2-contenido h2{
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
    text-align: center;
    font-weight: 100;
    padding-bottom: 58px;
  }

  .section-2 .section-2-contenido ul li{
    margin: 0px;
  }

  .section-3-resposive-agaves .agaves .titulo-agaves{
    font-size: 30px;
  }

  .section-3-resposive-agaves .agaves .texto-ubicacion-agaves{
    font-size: 20px;
    top: 25%;
  }

  .section-3-resposive-jardines .jardines .titulo-jardines{
    font-size: 30px;
  }

  .section-3-resposive-jardines .jardines .texto-ubicacion-jardines{
    font-size: 20px;
    top: 25%;
  }

  .section-4 .contenedor-centrado{
    padding-top: 13%;
    /*margin-left: 22%;*/
    width: 80%;
  }

  .section-4 .contenedor-centrado .texto{
    font-size: 20px;
  }

  .section-4 .contenedor-centrado .precio{
    font-size: 40px;
    /*margin-top: 3%;
    margin-bottom: 3%;*/
  }

  .section-4 .contenedor-centrado .texto-enlaces{
    font-size: 17px;
    font-style: italic;
    margin-top: 50px;

  }

  .section-4 .contenedor-centrado .botones-enlaces {
    padding: 0;
  }

  .section-4 .contenedor-centrado .botones-enlaces li{
    display: inline-block;
  }

  .section-4 .contenedor-centrado .botones-enlaces li:first-child {
    margin-right: 30px;
  }

  .section-4 .contenedor-centrado .botones-enlaces li a{

    text-decoration: none;
    background: #00468C;
    color: white;
    padding: 2px 18px;
    border-radius: 5px;
  }

  .section-4 .logos-externos{
    font-size: 60px;
    position: absolute;
    bottom: 3%;
  }

  .section-4 .logos-externos ul{
    display: none;
  }

  .section-4 .logos-creditos{
    max-width: 100%;
    bottom: -120px;
  }

  .section-4 .logos-creditos ul{
    margin: 0;
    padding-left: 0;
  }

  .section-4 .logos-creditos ul li img{
    width: 55px;
  }

  .mc-field-group{
    /*display: inline-block;*/
  }

  #mc_embed_signup #mc_embed_signup_scroll .mc-field-group input{
    width: 120px;
    border: 2px solid #C8B8CC;
    border-radius: 15px;
    padding: 5px;
    color: white;
    margin: 7px;
  }

  #mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonefield {
    display: inline-block;
  }

  #mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonearea input{
    width: 30px;
  }


  #mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonedetail1 input{
    width: 30px;
  }

  #mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonedetail2 input{
    width: 55px;
  }

  #mc_embed_signup #mc_embed_signup_scroll .clear #mc-embedded-subscribe{
    width: 100px;
    background:rgba(255,0,0,0.3);
    border: 1px solid #C8B8CC;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  #mc_embed_signup #mc_embed_signup_scroll .mc-field-group select{
    width: 120px;
    border: 2px solid #C8B8CC;
  }

  @media only screen and (max-width: 320px){

    .header .texto-header{
      font-family: 'Oleo Script', cursive;
      text-shadow: 0px 3px 0px #aaa;
      padding-top: 18px;
    }

    .header .texto-header .texto-nombre{

    }

    .section-2 .section-2-contenido{
      margin: 0 auto;
      width: 90%;
      padding-top: 7%;
      padding-bottom: 50px;
      margin-left: 0;
    }

    .section-2 .section-2-contenido h2{
      color: white;
      font-family: 'Lobster Two', cursive;
      font-size: 30px;
      margin-left: 13px;
    }

    .section-2 .section-2-contenido ul{
      padding: ;
    }

    .section-2 .section-2-contenido .iconos li{
      width: 70px;
      margin: 0px;
    }

    .section-3-resposive-agaves{
      background: url(img/seccionAgaves320x568.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .section-3-resposive-agaves .agaves .logo-agaves{
      bottom: 5px;
    }

    .section-3-resposive-agaves .agaves .titulo-agaves{
      font-size: 28px;
      margin-top: 20px;
    }

    .section-3-resposive-agaves .agaves .texto-ubicacion-agaves{
      font-size: 17px;
      width: 80%;
      position: absolute;
      top: 25%;
    }

    .section-3-resposive-jardines{
      background: url(img/seccionResidenciales320x568.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .section-3-resposive-jardines .jardines .titulo-jardines{
      font-size: 28px;
      margin-top: 20px;
    }

    .section-3-resposive-jardines .jardines .logo-jardines{
      bottom: 5px;
    }

    .section-3-resposive-jardines .jardines .texto-ubicacion-jardines{
      font-size: 17px;
      width: 80%;
      position: absolute;
      top: 25%;
    }

    .section-4{
      background: url(img/seccionFormulari 320x568.png);
    }

    .section-4 .contenedor-centrado{
      padding-top: 13%;
      /*margin-left: 22%;*/
      width: 80%;
      padding-top: 10px;
      width: 90%;
    }

    .section-4 .contenedor-centrado .texto{
      font-size: 18px;
    }

    .section-4 .contenedor-centrado .precio{
      font-size: 30px;
      /*margin-top: 3%;
      margin-bottom: 3%;*/
    }

    .section-4 .contenedor-centrado .texto-enlaces{
      font-size: 15px;
      font-style: italic;
      margin-top: 0px;

    }

    .section-4 .contenedor-centrado .botones-enlaces {
      padding: 0;
    }

    .section-4 .contenedor-centrado .botones-enlaces li{
      display: inline-block;
    }

    .section-4 .contenedor-centrado .botones-enlaces li:first-child {
      margin-right: 30px;
    }

    .section-4 .contenedor-centrado .botones-enlaces li a{

      text-decoration: none;
      background: #00468C;
      color: white;
      padding: 2px 18px;
      border-radius: 5px;
    }

    .section-4 .logos-externos{
      font-size: 60px;
      position: absolute;
      bottom: 3%;
    }

    .section-4 .logos-externos ul{
      margin: 0;
      display: none;
    }

    .section-4 .logos-creditos{
      max-width: 95%;
      position: absolute;
      bottom: -10%;
      right: 0%;
      display: none;
    }

    .section-4 .logos-creditos ul{
      margin: 0;
      padding-left: 0;
    }

    .section-4 .logos-creditos ul li img{
      width: 55px;
    }

    .mc-field-group{
      /*display: inline-block;*/
    }

    #mc_embed_signup #mc_embed_signup_scroll .mc-field-group input{
      width: 100px;
      border: 2px solid #C8B8CC;
      border-radius: 15px;
      padding: 5px;
      color: white;
      margin: 7px;
    }

    #mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonefield {
      display: inline-block;
    }

    #mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonearea input{
      width: 25px;
    }


    #mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonedetail1 input{
      width: 25px;
    }

    #mc_embed_signup #mc_embed_signup_scroll .mc-field-group .phonedetail2 input{
      width: 50px;
    }

    #mc_embed_signup #mc_embed_signup_scroll .clear #mc-embedded-subscribe{
      width: 100px;
      background:rgba(255,0,0,0.3);
      border: 1px solid #C8B8CC;
      border-radius: 10px;
      padding: 10px;
      color: white;
      margin-top: 15px;
      margin-bottom: 15px;
      cursor: pointer;
    }

    #mc_embed_signup #mc_embed_signup_scroll .mc-field-group select{
      width: 120px;
      border: 2px solid #C8B8CC;
    }

}
